*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.idea/.generators

.idea/.name

.idea/.rakeTasks

.idea/BuyBox.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

app/.DS_Store

app/assets/.DS_Store

app/assets/images/.DS_Store

.DS_Store
