body{
    font-family: 'Open Sans', sans-serif;
}

#header{
  background: url('main_header_bg.png') repeat 0 0;
  height: 158px;
  width: auto;

  #header_container{
      width: 960px;
      margin: 0 auto;
      padding: 20px 0px;

      #main_navigation{
        background-color: #FFFFFF;
        height: 54px;
        width: 960px;
        #header_logo{
            width: 55px;
            height: 55px;
            background: url('buybox_header_logo.png') no-repeat 0 0;
            float: left;
        }
        #header_profile{
            float: right;
        }
      }

      #category_navigation{

      }
  }
}